.root {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--bg3);
  /* border: 1px solid red; */
}
.leftSection {
  display: flex;
  align-items: center;
  flex-grow: 1;

  /* border: 1px solid red; */
}
.rightSection {
  /* border: 1px solid red; */
}

.react.logo {
  height: 1rem;
}

.appNavList {
  display: flex;
}

.appNavList > li {
  margin: 10px;
}
